tqdm
pandas
# numpy
# matplotlib
scikit-learn
# opencv-python
opencv-python-headless
sqlalchemy
# psycopg2[extra]
alembic
fastapi-utils
fastapi
uvicorn
pydantic
peewee
# transformers
# sentencepiece
python-multipart